@{
    ViewData["Title"] = "All Cards";
    var items = ViewBag.Items as IEnumerable<Cards>;
    var totalPages = ViewBag.TotalPages;
    var currentPage = ViewBag.CurrentPage;
    var totalCount = ViewBag.TotalCount;
}

<h1><pre class="tab">All Cards                                       Total Count: @totalCount</pre></h1>
@model IEnumerable<Cards>

<h2>Baseball Cards</h2>
@*<div>
    Total Count: @totalCount
</div>*@


<table class="table">
    <tr>
        @*<th>CardID</th>*@
        <th>Set</th>
        <th>Year</th>
        <th>Subset</th>
        <th>Card Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Total Number</th>
        <th>Info</th>
        <th>Serial Number</th>
        <th>Autograph</th>
        <th>Relic</th>
    </tr>

    @foreach (var card in items)  @*@Model*@
    {
            <tr>
                @*@<td> <a href=/Cards/ViewSet/@card.SetName>@card.SetName</a> </td>*@
                <td> <a asp-controller="Cards" asp-action="ViewSet" asp-route-id="@card.CardID"> @card.SetName </a> </td>
                <td> <a asp-controller="Cards" asp-action="ViewYear" asp-route-id="@card.CardID"> @card.Year </a> </td>
                <td> <a asp-controller="Cards" asp-action="ViewSubset" asp-route-id="@card.CardID"> @card.Subset </a> </td>
                <td> <a asp-controller="Cards" asp-action="ViewCardnumber" asp-route-id="@card.CardID"> @card.Cardnumber </a> </td>
                <td> <a asp-controller="Cards" asp-action="ViewFirstname" asp-route-id="@card.CardID"> @card.Firstname </a> </td>
                <td> <a asp-controller="Cards" asp-action="ViewLastname" asp-route-id="@card.CardID"> @card.Lastname </a> </td>
                <td>@card.TotalNumber</td>
                <td>@card.Info</td>
                <td>@card.SerialNumber</td>
                <td> <a asp-controller="Cards" asp-action="ViewAutograph" asp-route-id="@card.CardID"> @card.Autograph </a> </td>           
                <td> <a asp-controller="Cards" asp-action="ViewRelic" asp-route-id="@card.CardID"> @card.Relic </a> </td>
                <td> <a asp-controller="Cards" asp-action="ViewCard" asp-route-id="@card.CardID">View</a></td>
            </tr>
    }

</table>

<div>

    @if (currentPage > 0)
    {
        <a href="@Url.Action("AllCards", new { page = currentPage - 1 })"
       class="btn btn-default">
            &laquo; Prev
        </a>
    }
    @if (currentPage < totalPages)
    {
        <a href="@Url.Action("AllCards", new { page = currentPage + 1 })"
       class="btn btn-default">
            Next &raquo;
        </a>
    }
</div>
